.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.analyzer-section {
    margin-bottom: 30px;
}
textarea {
    width: 90%;
    max-width: 600px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    resize: none;
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Стили для кнопки */
#generate {
    display: block;
    margin: 20px auto;
    width: auto;
}

/* Центрирование для элементов */
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Адаптивность для экранов меньшей ширины */
@media (max-width: 900px) {
    .container {
        padding: 10px;
    }
    textarea {
        font-size: 14px;
        height: 180px;
        max-width: 100vw;
    }
    .analyzer-section {
        max-width: 100vw;
        padding: 10px;
    }
}

/* Адаптивность для очень маленьких экранов */
@media (max-width: 480px) {
    textarea {
        font-size: 12px;
        height: 150px;
    }
    #generate {
        width: 90%;
    }
}
