/* Основные стили */

body {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

.primary {
    color: #ff6600;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.section {
    padding: 20px;
}

.button {
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff6600;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}

h1 {
    text-align: center;
}


/*бегущая строка*/
body {
    margin: 0;
    overflow-x: hidden;
}

.marquee-container {
    width: 100vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 50px; /* Задайте высоту контейнера по вашему усмотрению */
    margin-top: 20px; /* Добавьте отступ сверху по вашему усмотрению */
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    white-space: nowrap;
    font-size: 2rem; /* Задайте размер шрифта по вашему усмотрению */
    animation: marquee 180s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

@media screen and (max-width: 1620px) {
    .container {
        padding: 0 20px; /* Добавляем отступы по краям */
    }

    .section {
        padding: 10px; /* Уменьшаем внутренние отступы */
    }

    p,
    a,
    li {
        font-size: 16px; /* Уменьшаем размер шрифта */
    }
    h1 {
        font-size: 24px; /* Уменьшаем размер h1 */
    }

    h2 {
        font-size: 20px; /* Уменьшаем размер h2 */
    }
}

/* Медиа запросы для уменьшения размера бегущей строки на мобильных устройствах */
@media (max-width: 768px) {
    .marquee span {
        font-size: 1.5rem; /* Уменьшение размера шрифта на мобильных устройствах */
    }
}

@media (max-width: 480px) {
    .marquee span {
        font-size: 1rem; /* Дополнительное уменьшение размера шрифта на более узких экранах */
    }
}
