.title {
    text-align: center; /* Центрирование текста по горизонтали */
}

/* Стили для блоков цен и описания работы */
.pricing {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.pricing-column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
}


/* Медиа-запрос для мобильных устройств */
@media only screen and (max-width: 600px) {
    .pricing {
        flex-direction: column; /* Отображаем блоки цен в столбик на маленьких экранах */
    }

    .pricing-column {
        margin: 20px 0; /* Добавляем отступы сверху и снизу между блоками цен на маленьких экранах */
    }
}

/* Медиа-запрос для планшетов и средних устройств */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .pricing {
        flex-wrap: wrap; /* Разрешаем перенос строк для блоков цен на средних экранах */
    }

    .pricing-column {
        flex-basis: calc(50% - 10px); /* Делаем блоки цен по 2 в ряду на средних экранах */
        margin: 20px 5px; /* Добавляем отступы сверху и снизу, отступы по бокам для создания промежутка между колонками на средних экранах */
    }

    .pricing-column:last-child {
        margin-right: 0; /* Убираем правый отступ у последнего блока цен в ряду на средних экранах */
    }
}

/* Медиа-запрос для больших устройств */
@media only screen and (min-width: 1025px) {
    .pricing-column {
        flex-basis: 30%; /* Уменьшаем ширину блоков цен на больших экранах */
        margin: 20px 5px; /* Добавляем отступы сверху и снизу, отступы по бокам для создания промежутка между колонками на больших экранах */
    }

    .pricing-column:last-child {
        margin-right: 0; /* Убираем правый отступ у последнего блока цен на больших экранах */
    }
}
